<p>
    Before start developing an Angular application, we should always have basic information about the use of each part
    of the application. So, it'll help us to make our Angular application faster and smoother
</p>
<h3>Component:</h3>
<p>
    A class that interacts with the .html file of the component, to display data on the browser. <br />
    Components are denoted by @Component
</p>

<h3>Metadata:</h3>
<p>
    Metadata is data about the info. It provides information about the aspect/ module and so on.
</p>

<h3>Template:</h3>
<p>
    Templates combine the Angular markup and HTML tags which may help to modify the data before displaying it on the
    browser.
</p>

<h3>Data Binding:</h3>
<p>
    It's a connection or the communication between the HTML element and the Component property. it's used to bind data,
    events, and property between them.
</p>
<ul class="ssq-blog-ul">
    <li style="padding-bottom: 5px !important;">
        <strong>One way binding:</strong>
        interpolation is used to create a one-way binding. We try this with the aid of typing double curly braces.
    </li>
    <li style="padding-bottom: 5px !important;">
        <strong>Property binding:</strong>
        A property may be a data variable of the component, so binding to the property means being notified when the
        property changes — meaning, from the component to the DOM.
    </li>
    <li style="padding-bottom: 5px !important;">
        <strong>Attribute binding:</strong>
        Angular's attribute binding helps to set the value of an attribute directly. Attribute binding can be used to
        improve accessibility, make your application dynamic, and manage multiple CSS classes or styles simultaneously.
    </li>
    <li style="padding-bottom: 5px !important;">
        <strong>Two-way binding:</strong>
        Two-way binding means changes on one side will impact the other side, and vice-versa.
    </li>
    <li style="padding-bottom: 5px !important;">
        <strong>Event binding:</strong>
        An event is created by the user. Event binding is from the DOM to the component. It's also how for the child
        component to update the parent.
    </li>
</ul>

<h3>Module:</h3>
<p>
    The module is the place that contains groups of components, directives, pipes, and services, which are associated
    with the <a href="https://www.sanesquare.com/services/hire-angular-developers-staff-augmentation.html"
        style="color: rgb(9, 55, 203); font-size: unset !important;" target="_self">Angular Application.</a>
    Modules are denoted by @NgModule. Note that when creating a replacement component, you
    need to import it to the corresponding module file, then add the component to the declarations.
</p>

<h3>Service:</h3>
<p>
    The most objective of a service is to share business logic, models, or data and functions with different components
    of an Angular application It contains business logic that may be reusable which means we can write once and use it
    everywhere on the utility whenever required. Declared as @Injectable.
</p>
<p>
    A template looks like regular HTML, except that it also contains Angular template syntax, which alters the HTML
    grounded on your operation's sense and the state of operation and DOM data. Your template can use data binding to
    coordinate the operation and DOM data, pipes to transfigure data before it's displayed, and directives to apply
    operation sense to what gets displayed.
</p>

<h3>Dependency Injection:</h3>
<p>
    Dependency Injection may be a design pattern used for providing dependencies to a class from external resources
    rather than creating them. It's a pattern for handling code dependencies. it's used for Injecting or loading service
    objects into components.Two main roles exist within the
    <a href="https://en.wikipedia.org/wiki/Dependency_injection"
        style="color: rgb(9, 55, 203); font-size: unset !important;" target="_blank">DI system:</a>
    dependency consumer and dependency provider.
</p>
<p>
    The Injector wont to interact with the dependency consumer and dependency provider. When a dependency is requested,
    the injector checks its registry to work out if there is an instance already available there. If not, a replacement
    instance is created and stored in the registry
</p>

<h3>Directive:</h3>
<p>It's used for modifying the DOM elements. declared with @Directive.</p>

<h4>
    <strong>Structural Directives:</strong>
</h4>
<p>
    Basically deals with manipulating the DOM elements. Structural directives have a * (asterisk) before the
    directive.*ngIf ,*ngFor ,*ngSwitchCase are example of structural directives.
</p>

<h4>
    <strong>Attribute Directives:</strong>
</h4>
<p>
    Attribute directives cater to changing the look and behavior of the DOM element. This is frequently where you may
    create your own directives!
</p>
<p>
    @Input() and @Output() provide a child component with a way to communicate with its parent component. @Input() lets
    a parent component update data within the child component. Conversely, @Output() lets the kid send data to a parent
    component.
</p>

<h3>Pipe:</h3>
<p>
    The most object of the pipe is to transform the data into desired output before displaying it to the browser. You
    can use pipes to transform strings, currency amounts, dates, and other data for display purposes. Using pipes in
    template expressions allows you to accept an input value and return a transformed value. Pipes are defined using the
    pipe “|” symbol, Pipes can be chained with other pipes. Pipes can be handed with arguments by using the colon()
    sign. Some generally used predefined Angular pipes are
</p>
<p>
    DatePipe Formats a date value.UpperCasePipe Transforms textbook into uppercase.LowerCasePipe Transforms the textbook
    into lowercase.CurrencyPipe Transforms a number to a currency string.PercentPipe Transforms a number into a chance
    string.DecimalPipe Transforms a number to a decimal point string
</p><br /> <br />



<p>
    <strong>
        For using an angular application we should always have basic information about the use of each part of the
        application. This blog demonstrates building blocks of angular like components, metadata, template, data
        binding, module, services, dependency injection. directives, pipe. At Sanesqaure Technologies, we offer the
        <a href="https://www.sanesquare.com/services/mobile-app-development.html"
            style="color: rgb(9, 55, 203); font-size: unset !important;" target="_self">Best Services for Developing
            Angular Applications.</a> If you need any help, feel free to contact us.
    </strong>
</p>